bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1592869573618/work
certifi==2020.6.20
cffi==1.14.0
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1588164361239/work
cudf==0.14.0
cuml==0.14.0+0.g31202da.dirty
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy_1593102679869/work
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1592593303100/work
dask-cudf==0.14.0
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1592593830507/work
fastavro @ file:///home/conda/feedstock_root/build_artifacts/fastavro_1592852674971/work
fastrlock==0.5
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1589989738418/work
HeapDict==1.0.1
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1589812474002/work
llvmlite==0.33.0
locket==0.2.0
MarkupSafe==1.1.1
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
msgpack==1.0.0
numba==0.50.1
numpy==1.18.5
nvstrings-cuda100==0.14.0
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==0.25.3
partd==1.1.0
Pillow==7.1.2
psutil==5.7.0
pyarrow==0.15.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
rmm==0.14.0
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1592502882224/work
scipy @ file:///tmp/build/80754af9/scipy_1592930510235/work
sharedmem==0.3.6
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
tblib==1.6.0
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toolz==0.10.0
torch==1.5.1
tornado==6.0.4
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ucx-py @ file:///opt/conda/conda-bld/ucx-split_1591297965004/work/ucx-py
zict==2.0.0
